.graphchart-container {
  display: block;
  margin-left: 60px;
  margin-right: 60px;
  color: white;
}

.graphchart-percentages {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.graphchart-slider {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  position: relative;
  width: 100%; /* Changed from fixed pixel value to 100% */
}

.graphchart-value-label {
  position: absolute;
  bottom: -1.5rem;
  text-align: center;
  min-width: 50px;
}

.percentage-box-container {
  position: absolute;
}

.graph-percentage-box {
  display: block;
  padding: 1em;
  margin: 1em;
  position: absolute; /* Added: Set position to absolute */
}

.graphchart-slider input {
  width: 100%;
  accent-color: #ee72f1; /* Change this to the color you want for the slider thumb */
}
